/*--------- Sign up, Sign in & About---------*/
/*---------- Imports ----------*/
@import "./_variables.css";

/*--------- Body ---------*/
body {
  overflow: hidden;
}

.box-header {
  color: var(--secondary-light);
}

main .btn {
  background-color: var(--secondary);
  border-color: var(--secondary-light);
  color: var(--secondary-light);
}
