/*-------------------- 0000px --------------------*/
/*-------------------- 0000px --------------------*/
/*-------------------- 567px --------------------*/

@media (max-width: 567px) {
	.nav-list li a {
		font-size: 0.8rem;
		margin-left: 3rem;
		width: 100%;
	}
}

/*-------------------- 800px --------------------*/

@media (max-width: 800px) {
	.navigation {
		justify-content: space-between;
	}
	.nav-list {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		max-width: 40%;
		min-width: 40%;
		min-height: 40%;
		background-color: var(--white);
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		transition: all 500ms ease-in-out;
		margin-top: 8rem;
		box-shadow: 10px 10px 10px 5px rgba(204, 204, 204, 0.7);
	}
	.nav-list.show {
		left: 0;
	}

	.nav-list li:not(:last-child) {
		margin-right: 0;
	}

	.nav-list li {
		display: block;
		width: 100%;
	}

	.nav-list li a {
		font-size: 1.8rem;
		margin-left: 3rem;
		width: 50%;
	}

	.hamburger-menu {
		display: block;
		color: var(--grey3);
		font-size: 3rem;
		cursor: pointer;
	}
}

/*-------------------- 850px --------------------*/

@media (max-width: 850px) {
	.logo img {
		height: 5rem;
	}
}

/*-------------------- 1200px --------------------*/

@media (max-width: 1200px) {
	.logo img {
		max-height: 8rem;
	}
}
