/*-------------------- Color Variables --------------------*/

:root {
	--primary: #521262;
	--secondary: #761a8d;
	--dark: #260a37;
	--white: #fff;
	--white2: #e6e6e6;
	--black: #0d0d0d;
	--grey1: #ccc;
	--grey2: #828282;
	--grey3: #333;
	--orange: #ffa238;
	--pink: #9a2268;
}

/*-------------------- Container classes (and some general styling) --------------------*/
html {
	box-sizing: border-box;
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: var(--white);
	color: var(--grey3);
	font-weight: 400;
	width: 100%;
	height: 100%;
	margin: 0;
}

.display-flex {
	display: flex;
	align-items: center;
}

a,
a:visited {
	color: var(--grey3);
}

/* Typography */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* ---------------Navbar------------- */

.header {
	background-color: var(--white);
	height: 8rem;
	line-height: 7.5rem;
	box-shadow: 0 5px 10px var(--grey1);
	z-index: 999;
}

.header.fix {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	box-shadow: 0 5px 10px var(--grey1);
}

/* Navigation Menu */
.navigation {
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
}

/*--- Logo ---*/
.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 7rem;
}

/*--- Hamburger menu ---*/
.hamburger-menu {
	margin-right: 5rem;
	display: none;
}

/*--- nav-list ---*/
.nav-list li:not(:last-child) {
	margin-right: 2rem;
}

.nav-list {
	list-style: none;
}

.nav-list li a {
	display: inline-block;
	font-size: 2rem;
	padding: 0.5rem 1rem;
	font-weight: 500;
	transition: color 500ms ease-in-out;
	text-decoration: none;
}

.nav-list li a.active {
	text-decoration: underline;
}

.nav-list li a:hover {
	color: var(--pink);
}

/* ---------------Layout Why------------- */
.why-guide,
.user-guide,
.contact-wide {
	padding: 50px;
}

.why-guide__container,
.user-guide__container,
.contact-wide__container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.why-guide__img {
	flex: 1;
	border-radius: 5px;
	margin: auto;
	max-width: 50%;
	padding-right: 5%;
}

.why-guide__text {
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.why-guide__item {
	flex: 1;
	padding: 10px;
	border-left: 1px solid var(--grey1);
	padding: 5% 0 5% 10%;
}

.user-guide__item:not(:nth-child(1)),
.contact-wide__item:not(:nth-child(1)) {
	border-left: 1px solid var(--grey1);
}

.user-guide__item,
.contact-wide__item {
	flex: 1;
	padding: 10px;
	background-color: var(--white);
	text-align: center;
}

.why-guide__header,
.user-guide__header,
.contact-wide__header {
	font-size: 26px;
}

.why-guide__subtext,
.user-guide__subtext,
.contact-wide__subtext {
	font-size: 12px;
}

/*-------------------- Footer --------------------*/
footer {
	background-color: var(--white);
	color: var(--grey3);
	padding: 75px 0;
	margin: 150px 0;
	border-top: 1px solid var(--primary);
	width: 100%;
	display: flex;
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex: 1;
}

.footer-logo {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -25%;
}

.footer-logo img {
	max-width: 150px;
	height: auto;
}

.footer-columns {
	flex: 2;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.footer-column {
	flex: 1;
	margin-right: 20px;
	text-align: center;
}

.footer-column h4 {
	font-size: 18px;
	margin-bottom: 10px;
	color: var(--grey3);
}

.footer-column ul {
	list-style: none;
	padding: 0;
}

.footer-column ul li {
	margin-bottom: 8px;
}

.footer-column ul li a {
	text-decoration: none;
	color: var(--grey3);
	transition: color 0.3s ease;
}

.footer-column ul li a:hover {
	color: var(--pink); /* Change to your preferred link hover color */
}
