.posts {
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .post-title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #333;
  }

  .post-date {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
  }

  .post-content {
    font-size: 14px;
    color: #666;
  }

  .post-tags {
    margin-top: 10px;

    .post-tag {
      display: inline-block;
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 12px;
      color: #666;
      cursor: pointer;

      &:hover {
        border-color: #999;
      }
    }
  }
  img {
    display: flex;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
  }
}
