@import 'variables';

nav {
	border-bottom: 3px solid;
	border-image: linear-gradient(to right, #265e8a, #d2f2f4, #265e8a) 1;
}

.navbar-nav .nav-link {
	color: black;
}

.tags,
.tag {
	font-style: italic;
	color: #696969;
}

.load-more {
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	max-width: 200px;
	padding: 10px;
}

.hover-grow {
	transform: scale(1);
	transition: transform 0.3s ease;
}
.hover-grow:hover {
	transform: scale(1.1);
}

.bi {
	width: 30px;
	height: 30px;
}

footer {
	background: linear-gradient(to top, #0f3151 0%, #265e8a 20%, #fff 100%);
	.footer-nav {
		display: flex;
		justify-content: center;
		gap: 2rem;
		list-style: none;
		padding: 2rem 0;
		color: #fff;
		font-size: 1.6rem;
		a,
		a:visited {
			color: #fff;
			text-decoration: none;
		}
	}
}
