$primary: #521262;
$secondary: #761a8d;
$primary-light: #fff;
$secondary-light: #e6e6e6;
$tertiary-light: #f8f9fa;
$black: #0d0d0d;
$primary-dark: #260a37;
$secondary-dark: #333;
$text-dark: #212529;
$text-gray: #696969;
$border-color: #dee2e6;
$orange: #ffa238;
$pink: #9a2268;

//old bordercolor was #ccc
