/*---------- Color Variables ----------*/

$primary: #0f3151;
$secondary: #265e8a;
$primary-light: #fff;
$secondary-light: #d2f2f4;
$tertiary-light: #f8f9fa;
$primary-dark: #343541;
$secondary-dark: #343a40;
$tertiary-dark: #454d55;
$border-color: #6c757d;
